body {
  font-family: Arial;

  color: rgb(90, 90, 90);
}

#container {
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  justify-content: center;
}

h1 {
  font-size: 3.5rem;
}

.choices {
  margin-bottom: 30px;
}

.choices button {
  font-size: 7.5rem;
  min-width: 160px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: rgb(212, 212, 212);
  transition: background-color 0.5s ease, transform 0.1s;
}

.choices button:hover {
  background-color: rgb(202, 202, 202);
}

.choices button:active {
  transform: scale(0.95);
}

#playerDisplay,
#computerDisplay {
  font-size: 2.5rem;
}

#resultDisplay {
  font-size: 5rem;
  margin-top: 30px;
}

.greenText {
  color: rgb(0, 223, 0);
}

.redText {
  color: rgb(255, 0, 0);
}

.scoreDisplay {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 30px;
  position: absolute;
}
